#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
   position: relative;
}

.img__container {
   width: 1000px;
   height: 600px;
   border: 2px dashed white ;
   border-radius: 10px;
   margin-top: 15px;
}

.img__container.drag {
   border-color: orangered;
}

.header__btn {
   display: flex;
   justify-content: space-between;
}

.btn__more {
   width: 120px;
   height: 50px;
}

.btn__push {
   width: 200px;
   height: 50px;
}

input {
   visibility: hidden;
}

p {
   max-width: 300px;
   overflow: hidden;
}

.img__card img{
   height: 200px;
   width: 300px;
   border: 1px solid white;
}

.img__card {
   display: flex;
   flex-direction: column;
   margin: 10px;
}

.btn__download {
   height: 40px;
}

.file__list {
   display: flex;
   margin: 10px;
   flex-wrap: wrap;
   list-style: none;
}

.img__card.remove {
   position: relative;
   background-color: #1a1a1a; 
   opacity: 1; 
   transition: 0.3s; 
}

.img__card.remove:hover {
   opacity: 0.5;
}
